.dropmenu {
      *zoom: 1;
      list-style-type: none;
      max-width: 70px;
      width: 20%;
      position: absolute;
      top: 10px;
      right: 25px;
      padding: 0;
}

.dropmenu:before,
.dropmenu:after {
      content: "";
      display: table;
}

.dropmenu:after {
      clear: both;
}

.dropmenu li {
      position: relative;
      width: 100%;
      float: right;
      margin: 0;
      padding: 0;
      text-align: center;
}

.dropmenu li a {
      display: block;
      margin: 0;
      padding: 8px 0 6px;
      background: #C70025;
      color: #fff;
      font-size: 14px;
      line-height: 1;
      text-decoration: none;
}

.dropmenu li ul {
      list-style: none;
      position: absolute;
      z-index: 9999;
      top: 100%;
      left: -23px;
      margin: 0;
      padding: 0;
}

.dropmenu li ul li {
      width: 125%;
}

.dropmenu li ul li a {
      padding: 13px 13px;
      border-top: 1px solid #ffffff;
      background: #C70025;
      text-align: left;
}

.dropmenu li:hover>a {
      background: #C70025;
}

.dropmenu li a:hover {
      background: #ee0025;
}

#dropmenu li ul li {
      overflow: hidden;
      height: 0;
      transition: .2s;
}

#dropmenu li:hover ul li {
      overflow: visible;
      height: 38px;
}