/* Gaya untuk footer */
footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: flex; /* Menjadikan elemen-elemen dalam baris horizontal */
  justify-content: space-around; /* Menyebarkan elemen dengan jarak yang sama */
  align-items: center; /* Membuat elemen berada pada tengah-tengah vertikal */
  flex-wrap: wrap; /* Jika konten tidak cukup lebar, pindahkan ke baris baru */
}

/* Gaya untuk setiap bagian dalam footer */
footer .footer-section {
  text-align: center;
  margin: 10px;
}

/* Gaya untuk logo perusahaan */
.company-logos img {
  max-width: 150px;
  height: auto;
}

/* Gaya untuk tautan "Contact Us" */
.contact-us a {
  color: #fff;
  text-decoration: none;
}

/* Gaya untuk tautan "Contact Us" saat dihover */
.contact-us a:hover {
  text-decoration: underline;
}

/* Gaya untuk hak cipta */
.footer-section {
  font-size: 12px;
}

/* Gaya khusus untuk tata letak vertikal saat ukuran layar kurang dari atau sama dengan 768px */
@media (max-width: 768px) {
  footer {
    flex-direction: column; /* Mengubah tata letak menjadi vertikal */
    text-align: center;
  }
  
  .company-logos,
  .company,
  .address,
  .contact-us,
  .copyright {
    margin: 5px 0; /* Jarak antar elemen vertikal */
  }
}
