.NE100JB {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin: auto;
  height: 100vw;
  max-height: 600px;

}



.NE100JB img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;

}

.NE100JB .sizeofcontent {
  width: 100%;
  max-width: 918px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.NE100JB h1 {
  position: absolute;
  top: 5%;
  left: 1%;

  font-size: 32px;
}

.NE100JB h2 {
  position: absolute;
  top: 12%;
  left: 1%;

  font-size: 20px;
}

.NE100JB .ytube iframe {
  position: absolute;
  top: 38%;
  left: 1%;
  width: 40%;
  min-width: 250px;
  height: 33%;
}

.NE100JB .ytube a {
  position: absolute;
  top: 38%;
  left: 1%;
  width: 40%;
  min-width: 250px;
  height: 33%;

}

.NE100JB .video h5 {
  position: absolute;
  top: 25%;
  left: 1%;

  font-size: 20px;
}

.NE100JB .cata h5 {
  position: absolute;
  top: 72%;
  left: 1%;

  font-size: 20px;
}


.NE100JB .download a {
  position: absolute;
  top: 85%;
  left: 1%;

  font-size: 20px;
}

.NE100JB .pic {
  position: absolute;
  top: 7%;
  left: 45%;
  width: 55%;
  height: 42%;

}

.NE100JB .pics {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 55%;
  height: 12%;
  background-color: #333333;
  text-align: center;

}

.NE100JB .pics .pics1 {
  position: absolute;
  margin: 2px;
  width: 25%;

}

.NE100JB .pics .pics1 img:hover {
  transform: scale(1.2, 1.2);
}

.NE100JB .pics .pics2 {
  position: absolute;
  margin: 2px;
  width: 25%;
  left: 25%;
}

.NE100JB .pics .pics2 img:hover {
  transform: scale(1.2, 1.2);
}

.NE100JB .pics .pics3 {
  position: absolute;
  margin: 2px;
  width: 25%;
  left: 50%;
}

.NE100JB .pics .pics3 img:hover {
  transform: scale(1.2, 1.2);
}

.NE100JB .pics .pics4 {
  position: absolute;
  margin: 2px;
  width: 25%;
  left: 75%;
}

.NE100JB .pics .pics4 img:hover {
  transform: scale(1.2, 1.2);
}

.NE100JB .pics .img {
  width: 100%;
  height: 100%;

}


.NE100JB .spec h5 {
  position: absolute;
  top: 60%;
  left: 45%;

  font-size: 20px;
}

.NE100JB .specimg .img {
  width: 100%;
  height: 100%;
}

.NE100JB .specimg {
  position: absolute;
  top: 72%;
  left: 45%;
  width: 55%;
  height: 25%;
}

.NE100JB .caution p {
  position: absolute;
  top: 88%;
  left: 45%;

  font-size: 12px;
}



/*スマホ用css*/




.NE100JBsp {
  position: relative;
  width: 100%;
  margin: auto;
  height: 500vw;
  min-height: 1800px;

}



.NE100JBsp img {
  width: 100%;
  height: 100%;

}

.NE100JBsp h1 {
  position: absolute;
  top: -0.5%;
  left: 3%;

  font-size: 30px;
}

.NE100JBsp h2 {
  position: absolute;
  top: 2%;
  left: 3%;

  font-size: 16px;
}



.NE100JBsp .ytube iframe {
  position: absolute;
  top: 7.5%;
  width: 94%;
  height: 15%;
  left: 3%;

}


.NE100JBsp .video h5 {
  position: absolute;
  top: 4%;
  left: 3%;

  font-size: 20px;
}

.NE100JBsp .cata h5 {
  position: absolute;
  top: 22%;
  left: 3%;

  font-size: 20px;
}


.NE100JBsp .download a {
  position: absolute;
  top: 26%;
  left: 3%;

  font-size: 20px;
}

.NE100JBsp .pic {
  position: absolute;
  top: 30%;
  width: 94%;
  height: 11%;
  left: 3%;
}


.NE100JBsp .pics {
  position: absolute;
  top: 42%;
  left: 2%;
  width: 96%;
  height: 43%;
  background-color: #333333;
  text-align: center;

}

.NE100JBsp .pics .pics1 {
  position: absolute;
  top: 1%;
  width: 98%;
  left: 1%;
  max-height: 24%;
}

.NE100JBsp .pics .pics2 {
  position: absolute;

  width: 98%;
  left: 1%;
  top: 25.5%;
  max-height: 24%;
}

.NE100JBsp .pics .pics3 {
  position: absolute;

  width: 98%;
  left: 1%;
  top: 50%;
  max-height: 24%;
}

.NE100JBsp .pics .pics4 {
  position: absolute;

  width: 98%;
  left: 1%;
  top: 74.5%;
  max-height: 24%;
}

.NE100JBsp .pics .img {
  width: 100%;
  height: 100%;
}


.NE100JBsp .spec h5 {
  position: absolute;
  top: 85%;
  left: 3%;

  font-size: 20px;
}

.NE100JBsp .specimg {
  position: absolute;
  top: 88%;
  left: 3%;
  width: 94%;
}

.NE100JBsp .caution p {
  position: absolute;
  top: 75%;
  left: 3%;

  font-size: 12px;
}